
@{
    ViewBag.Title = "Academic Qualifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AcademicQualifications</h2>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light portlet-fit bordered">
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        <span>@TempData["Error"]</span>
                    </div>
                }
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success">
                        <button class="close" data-close="alert"></button>
                        <span>@TempData["Success"]</span>
                    </div>
                }
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Step 2 : Academic Qualifications</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form action="@Url.Action("submitqualification","jobapplication")" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Proffessional Body</label> <span class="text-danger">*</span>
                                    <input type="text" name="ProffessionalBody" class="form-control" placeholder="Professional Body" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Membership No</label> <span class="text-danger">*</span>
                                    <input type="text" name="MembershipNo" class="form-control" placeholder="Membership No" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Membership Type</label> <span class="text-danger">*</span>
                                    <input type="text" name="MembershipType" id="date-from" class="form-control" placeholder="Membership Type" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date of Renewal</label> <span class="text-danger">*</span>
                                    <input type="date" name="DateOfRenewal" id="renewal-date" class="form-control" placeholder="Date of Renewal" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Upload Attachment</label>
                                    <input type="file" name="AttachmentFile" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" id="btn-academic" onclick="return validateInputs()"><i class="fa fa-pen"></i> Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Qualification</th>
                                        <th>Institution</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ApplicantQualifications)
                                    {
                                        <tr>
                                            <td>@item.QualificationType</td>
                                            <td>@item.Institution</td>
                                            <td>@Convert.ToDateTime(item.DateFrom).ToShortDateString()</td>
                                            <td>@Convert.ToDateTime(item.DateTo).ToShortDateString()</td>
                                            <td><a href="@Url.Action("removequalification", "jobapplication", new {id=item.SystemId})" class="text-danger"><i class="fa fa-trash-alt"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            @*<a class="btn btn-warning pull-left" href="@Url.Action("generalinformation","jobapplication", new { jobId = Session["jobId"].ToString(), refNo = Session["refNo"].ToString() })">Back</a>*@
                            <a class="btn btn-primary pull-right" href="@Url.Action("navigatereferees","jobapplication")">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>