@model IEnumerable<NCIAAPPLY.ViewModels.AdvertisedJobs>
@{
    ViewBag.Title = "Open Vacancies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section class="content">
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-database"></i>&nbsp;Open Vacancies</div>
            <div class="panel-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>REF No.</th>
                            <th>Job Id</th>
                            <th>Job Title</th>
                            <th>Required Positions</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in @Model)
                        {
                            <tr>
                                <td>@job.Counter</td>
                                <td>@job.JobRefNo</td>
                                <td>@job.JobId</td>
                                <td>@job.JobTitle</td>
                                <td>@job.RequiredPositions</td>
                                <td><a href="@Url.Action("generalinformation", "jobapplication", new {jobId=job.JobId, refNo=job.JobRefNo})">Apply</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>