@model NCIAJobs.Models.Applicant
@{
    ViewBag.Title = "Employment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light portlet-fit bordered">
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        <span>@TempData["Error"]</span>
                    </div>
                }
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success">
                        <button class="close" data-close="alert"></button>
                        <span>@TempData["Success"]</span>
                    </div>
                }
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Employment details</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form action="@Url.Action("submitemploymentdetails","jobapplication")" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Institution</label> <span class="text-danger">*</span>
                                    <input type="text" name="Institution" class="form-control" placeholder="Institution" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Designation</label> <span class="text-danger">*</span>
                                    <input type="text" name="Designation" class="form-control" placeholder="Designation" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Job Grade</label> <span class="text-danger">*</span>
                                    <input type="text" name="JobGrade" class="form-control" placeholder="Job Grade" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Salary</label> <span class="text-danger">*</span>
                                    <input type="number" name="Salary" class="form-control" placeholder="Gross Monthly Salary" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>From</label> <span class="text-danger">*</span>
                                    <input type="date" name="DateFrom" id="date-from" class="form-control" placeholder="From Date" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>To</label> <span class="text-danger">*</span>
                                    <input type="date" name="DateTo" id="date-to" class="form-control" placeholder="To Date" required />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" id="btn-academic" onclick="return validateInputs()"><i class="fa fa-pen"></i> Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Institution</th>
                                        <th>Designation</th>
                                        <th>Job Grade</th>
                                        <th>Date From</th>
                                        <th>Date To</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ApplicantEmploymentDetails)
                                    {
                                        <tr>
                                            <td>@item.Institution</td>
                                            <td>@item.Designation</td>
                                            <td>@item.JobGrade</td>
                                            <td>@Convert.ToDateTime(item.DateFrom).ToShortDateString()</td>
                                            <td>@Convert.ToDateTime(item.DateTo).ToShortDateString()</td>
                                            <td><a href="@Url.Action("removeemploymentdetail", "jobapplication", new {id=item.SystemId})" class="text-danger"><i class="fa fa-trash-alt"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const dateFrom = document.getElementById('date-from');
    const dateTo = document.getElementById('date-to');

    const validateInputs = function () {
        if (dateFrom.value === '') {
            alert('Date from cannot be empty');
            dateFrom.focus();
            return false;
        }

        if (dateTo.value === '') {
            alert('Date to cannot be empty');
            dateTo.focus();
            return false;
        }
    }
</script>

