
@{
    ViewBag.Title = "MinimumRequirement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light portlet-fit bordered">
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        <span>@TempData["Error"]</span>
                    </div>
                }
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success">
                        <button class="close" data-close="alert"></button>
                        <span>@TempData["Success"]</span>
                    </div>
                }
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Step 2 (25%) : Requirements</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form action="@Url.Action("SubmitRequirements", "JobApplication")" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Description</th>
                                            <th>Answer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.MinimumRequirements)
                                        {
                                            <tr>
                                                <td>@item.Code</td>
                                                <td>@item.Description</td>
                                                <td>
                                                    <input type="hidden" name="RequirementDescriptions[@item.Code]" value="@item.Description" />
                                                    <select name="RequirementAnswers[@item.Code]" class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="2" @(item.Answer == "Yes" ? "selected" : "")>Yes</option>
                                                        <option value="1" @(item.Answer == "No" ? "selected" : "")>No</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-primary pull-right">Next</button>

                            </div>
                        </div>

                      
                       </form> 
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    const qualificationType = document.getElementById('qualification-type');
    const qualificationCode = document.getElementById('qualification-code');

    const getQualificationCode = async function () {
        qualificationCode.innerHTML = '';
        const val = qualificationType.value;
        console.log(val);
        const response = await fetch(`/api/qualificationcodes?qualificationType=${val}`);
        const data = await response.json();

        let html = "";
        data.forEach(function (item, i, arr) {
            html += `<option value='${item.QualificationDescription}'>${item.QualificationDescription}</option>`;
        });
        qualificationCode.innerHTML = html;
    }
    getQualificationCode();
    qualificationType.addEventListener('change', getQualificationCode);
</script>

